<h1>Welcome to Spirit Animal App!</h1>
<br>
<br>
<h2>Create a Spirit Animal</h2>

<%= simple_form_for(@spirit_animal) do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>

<h2>Your Spirit Animals</h2>

<ul>
  <% @spirit_animals.each do |spirit_animal| %>
   <li><%= spirit_animal.name %></li>
  <% end %>
</ul>

<h2>Other Admin's Spirit Animals</h2>
<br>
<br>
<br>
<br>
<h2>Other Users Spirit Animals</h2>
<br>
<br>
<br>
<br>
