<h1>Welcome to Spirit Animal App!</h1>
<br>
<h2>Your Spirit Animals</h2>
<br>
<br>
<br>
<br>
<h2>Other Admin's Spirit Animals</h2>
<br>
<br>
<br>
<br>
<h2>Other Users Spirit Animals</h2>
<br>
<br>
<br>
<br>
