.nav-button {
  color: #006cc9;
  box-shadow: inset 0 0 0 1px #006cc9;
  border-radius: 0.25rem;
  padding: 0.5em 1em;
  margin-right: 20px;
    &:hover {
      background-color: #006cc9;
      color: white;
      text-decoration: none;
    }
}
